#content
    .container
        .row
            .col-md-12
                br
                br
                for order in softwareListDetails
                    h2(id='tables') Softwareantrag #!{order.orderid} !{order.softwarename}
                include elements/buttons-view
                br
                br
                for order in softwareListDetails
                    ul.progressbar
                        for order in softwareListDetails
                            -let list = ['Antrag eingegangen', 'Antrag in bearbeitung', 'Antrag in prüfung', 'Antrag bei gremium', 'Antrag entscheid','Antrag abgeschlossen'];
                            -for (var i = 1; i < list.length; i++)
                                    if(i <= order.status)
                                        li(class=["li-status", "active item" + i] id="orderstatus" + i)
                                            span= list[i]
                                    else
                                        li(class=["li-status", "item" + i] id="orderstatus" + i type='button' data-bs-toggle='modal' data-bs-target='#Modal'+i)
                                            span= list[i]

                #Modal2.modalStatus.modal.fade(tabindex='-1' role='dialog' aria-labelledby='ModalCenterTitle' aria-hidden='true')
                    .modal-dialog.modal-dialog-centered(role='document')
                        .modal-content
                            .modal-header
                                h5.modal-title Antrag in bearbeitung
                            .modal-body
                                button.btn.btn-secondary.btn-sm.custom-control-button-open(type='button') Antrag genehmigen
                                for order in softwareListDetails
                                    span.inputHide
                                        textarea.modalEmailTextarea(placeholder='EmailVorlage' rows='10')
                                            | Santra: Antrag Nummer# #{order.orderid} &#10;Guten Tag #{order.anrede} #{order.nachname} &#10;&#10;Wir haben Ihren Antrag für die Anschaffung der Software #{order.softwarename} geprüft und teilen Ihnen gerne mit, dass Sie diese über den Subito Shop bestellen können. &#10;&#10;Freundliche Grüsse&#10;Ihr A&P Team&#10;applprojekte.ph@fhnw.ch&#10;n|w
                                        button#btn-email-status2.btn.btn-primary.btn-sm.button-email-send(type='button') Email senden
                                        button.btn.btn-primary.btn-sm.custom-control-button-close(type='button') Abbrechen
                                br
                                button.btn.btn-primary.btn-sm(type='button') Antrag ablehnen
                                button.btn.btn-primary.btn-sm(type='button') Antrag zum Gremium
                            .modal-footer
                                a(href='#')
                                    button.btn.btn-secondary.btn-sm(type='button' data-bs-dismiss='modal') Status bestätigen
                                    button.btn.btn-secondary.btn-sm(type='button' data-bs-dismiss='modal') Abbrechen
                #Modal3.modal.fade(tabindex='-1' role='dialog' aria-labelledby='ModalCenterTitle' aria-hidden='true')
                    .modal-dialog.modal-dialog-centered(role='document')
                        .modal-content
                            .modal-header
                                h5.modal-title Antrag bei Gremimum
                            .modal-body
                                button.btn.btn-primary.btn-sm(type='button') Antrag beim Gremium (Benutzer informieren)
                            .modal-footer
                                a(href='#')
                                    button.btn.btn-secondary.btn-sm(type='button' data-bs-dismiss='modal') Abbrechen
                #Modal4.modal.fade(tabindex='-1' role='dialog' aria-labelledby='ModalCenterTitle' aria-hidden='true')
                    .modal-dialog.modal-dialog-centered(role='document')
                        .modal-content
                            .modal-header
                                h5.modal-title Antrag Entscheid
                            .modal-body
                                a(href='#')
                                    button.btn.btn-secondary.btn-sm(type='button') Status in Bearbeitung (Benutzer nicht informieren)
                                a(href='#')
                                    button.btn.btn-primary.btn-sm(type='button') Antrag genehmigen (Benutzer informieren)
                                a(href='#')
                                    button.btn.btn-primary.btn-sm(type='button') Antrag zum Gremium (Benutzer informieren)
                            .modal-footer
                                a(href='#')
                                    button.btn.btn-secondary.btn-sm(type='button' data-bs-dismiss='modal') Abbrechen
                #Modal5.modal.fade(tabindex='-1' role='dialog' aria-labelledby='ModalCenterTitle' aria-hidden='true')
                    .modal-dialog.modal-dialog-centered(role='document')
                        .modal-content
                            .modal-header
                                h5.modal-title Antrag abschliessen
                            .modal-body
                                a(href='#')
                                    button.btn.btn-secondary.btn-sm(type='button') Antrag abschliessen (Benutzer informieren)

                            .modal-footer
                                a(href='#')
                                    button.btn.btn-secondary.btn-sm(type='button' data-bs-dismiss='modal') Abbrechen
                br
                br
                br
                .form-group-view-wrapper
                    .form-group
                        .row
                            br
                            .col-md-12
                                h3.alert.alert-primary Angaben zur Person
                            for order in softwareListDetails
                                label
                                    | Institut
                                p= order.institut
                                label Professur/Zentrum/Ressort
                                p= order.professur
                                label
                                    | Beantragter*innen
                                p
                                 span= order.anrede
                                 span &nbsp;
                                 span= order.vorname
                                 span &nbsp;
                                 span= order.nachname
                                label
                                    | E-Mail-Adresse
                                p= order.email
                                label(for='form-function')
                                    | Funktion
                                p= order.funktion
                                label(for='form-function')
                                    | Studiengang
                                p= order.studiengang
                                label(for='form-function')
                                    | Modulanlass
                                p= order.modulanlass
                            .col-md-12
                            for order in softwareListDetails
                                h3.alert.alert-primary Angaben zur Software
                                label
                                    | Anwendungs-/Lehr-/Lernszenario
                                p= order.szenario
                                label
                                    | Name der Software
                                p= order.softwarename
                                    | TechSmith Camtasia 2020
                                label
                                    | Webseite der Software
                                p= order.softwarewebseite
                                label
                                    | Version der Software
                                label
                                    | Handelt es sich um ein Update/Änderung eines bestehenden Paketes. Wenn ja, welches?
                                p= order.softwareupdate
                                if order.softwareupdate==='ja'
                                    p= order.softwareupdatewelches
                                label
                                    | Anzahl Lizenzen
                                p= order.lizenzenanzahl
                                label
                                    | Anzahl geplante Nutzer*innen
                                p= order.nutzeranzahl
                                label(for='form-function')
                                    | Nutzungsdauer
                                p= order.nutzungsdauer
                                h3.alert.alert-primary Angaben zur Nutzung
                                label
                                    | Einsatz auf folgendem Betriebssystem
                                p= order.betriebssystem
                                label
                                    | Verwendung mit folgendem Browser
                                p= order.browser
                                label
                                    | Wie soll die Software zur Verfügung gestellt werden?
                                p= order.softwareverfuegung
                                label
                                    | W&auml;re die Software auch f&uuml;r ein anderes Institut der PH interessant?
                                p= order.softwareinstinteresse
                                if order.softwareinstinteresse === 'ja'
                                    p= order.softwareinstitut
                                label
                                    | W&auml;re die Software auch f&uuml;r andere Hochschulen interessant?
                                p= order.softwarehochschinteresse
                                    if order.softwarehochschinteresse === 'ja'
                                        p= order.softwarehochschule
                            .col-md-12
                            for order in softwareListDetails
                                h3.alert.alert-primary Lizensierung
                                label
                                    | F&uuml;r welche Institution
                                p= order.lizenzinstitution
                                label
                                    | Art
                                p= order.lizenzart
                                h3.alert.alert-primary Kosten
                                label
                                    | Kosten Lizenzmodell
                                p= order.lizenzkosten
                                h3.alert.alert-primary Zus&auml;tzliche Angaben
                                label
                                    | Vergleichbarkeit
                                p= order.vergleichbarkeit
                                label
                                    | Support durch
                                p= order.support
                                label
                                    | Rechtliche Frage: Datenspeicherung in einer Cloud?
                                p= order.cloud
                                    if order.cloud === 'nein'
                                        p= order.cloudwo
                                label(for='form-function')
                                    | Product Owner
                                p= order.productowner
                                label(for='form-function')
                                    | Bemerkungen
                                p= order.bemerkungen
                                label(for='form-function')
                                    | Datum
                                p= order.datum


