#content.details
    .container
        .row
            .col-md-12
                br
                br
                for order in softwareListDetails
                    h2(id='tables') Softwareantrag #!{order.orderid} !{order.softwarename}
                    for order in softwareListDetails
                        if(order.status == 10)
                            span.span-draft Entwurf
                                i &nbsp;(Um den Antrag einreichen zu können, bitte "Antrag bearbeiten" auswählen)
                            if (admin == true)
                                include elements/buttons-view-admin
                            else
                                include elements/buttons-view-draft
                        else
                            if (admin == true)
                                include elements/buttons-view-admin
                            else
                                include elements/buttons-view-draft
                for order in softwareListDetails
                    if(order.status != 10)
                            ul.progressbar
                                -let list = ['Antrag eingegangen', 'Antrag in Bearbeitung', 'Antrag in Prüfung', 'Antrag bei Gremium', statuscurrent];
                                if (admin == true)
                                        -for (var i = 1; i < list.length; i++)
                                                                                if((i < order.status)) ||((i == order.status) && (i == list.length-1))
                                                                                    li(class=["li-status", "active item" + i, "li-status-admin"] id="orderstatus" + i, )
                                                                                        span= list[i]
                                                                                else if((i == order.status) && (i != list.length-1))
                                                                                    li(class=["li-status", "preactive item" + i, "li-status-admin"] id="orderstatus" + i data-bs-toggle='modal' data-bs-target='#Modal' + i)
                                                                                        span= list[i]
                                                                                else
                                                                                    li(class=["li-status", "item" + i, "li-status-admin"] id="orderstatus" + i data-bs-toggle='modal' data-bs-target='#Modal' + i)
                                                                                        span= list[i]

                                else
                                        -for (var i = 1; i < list.length; i++)
                                                                                if((i < order.status)) || ((i == order.status) && (i == list.length - 1))
                                                                                    li(class=["li-status", "active item" + i, "li-status-admin"] id="orderstatus" + i, )
                                                                                        span= list[i]
                                                                                else if((i == order.status) && (i != list.length - 1))
                                                                                    li(class=["li-status", "preactive item" + i, "li-status-admin"] id="orderstatus" + i)
                                                                                        span= list[i]
                                                                                else
                                                                                    li(class=["li-status", "item" + i, "li-status-admin"] id="orderstatus" + i)
                                                                                        span= list[i]

                #Modal2.modalStatus.modal.fade(tabindex='-1' role='dialog' aria-labelledby='ModalCenterTitle' aria-hidden='true')
                    .modal-dialog.modal-dialog-centered(role='document')
                        .modal-content
                            .modal-header
                                h5.modal-title Antrag in Prüfung
                            .modal-body
                                button.btn.btn-secondary.btn-sm.custom-control-button-open(type='button') Antrag genehmigen
                                for order in softwareListDetails
                                    span.inputHide
                                        textarea.modalEmailTextarea#modalEmailTextarea1(placeholder='EmailVorlage' rows='10')
                                            |Guten Tag #{anredeMail} </br></br>Wir haben Ihren Antrag für die Anschaffung der Software #{order.softwarename} geprüft und teilen Ihnen gerne mit, dass Sie diese über den
                                            |<a href="https://subito.insideapps.fhnw.ch/itshop/custom" target="_blank">FHNW Subito - IT-Shop</a> bestellen können. </br>
                                            |Preis für die Software:
                                            |</br>Auf der Seite <a href="https://welcome.inside.fhnw.ch/organisation/hochschule/PH/mitarbeitende/Seiten/softwarebestellung.aspx" target="_blank">«Softwarebestellung»</a> finden Sie eine kurze Anleitung, wie Sie die Software im FHNW Subito IT-Shop bestellen können.</br></br>Freundliche Grüsse</br> Ihr Applprojekte Team</br> applprojekte.ph@fhnw.ch</br> n|w
                                        a.button-email-send.btn.btn-secondary.btn-sm(href="/details?tsid=" + order.orderid statuschange=4, mailtype=2, orderstatus=1)
                                            | Email senden
                                        button.btn.btn-primary.btn-sm.custom-control-button-close(type='button') Abbrechen
                                        p.hidden.green Ihr E-Mail wurde erfolgreich an Benutzer verschickt
                                        p.hidden.red Das E-Mail wurde an Benutzer nicht verschickt. Wenden Sie sich bitte an applprojekt.ph.fhnw.ch
                                        hr
                                br
                                button.btn.btn-primary.btn-sm.custom-control-button-open(type='button') Antrag ablehnen
                                for order in softwareListDetails
                                    span.inputHide
                                        textarea.modalEmailTextarea#modalEmailTextarea2(placeholder='EmailVorlage' rows='10')
                                            | Guten Tag #{anredeMail} </br></br>Ihr Antrag zur Anschaffung der Software #{order.softwarename} wurde geprüft. Leider müssen wir Ihnen mitteilen, dass eine Anschaffung abgelehnt werden muss.</br>Begründung:</br></br>Freundliche Grüsse</br> Ihr Applprojekte Team</br> applprojekte.ph@fhnw.ch</br> n|w
                                        a.button-email-send.btn.btn-secondary.btn-sm(href="/details?tsid=" + order.orderid statuschange=5, mailtype=2, orderstatus=2)
                                            | Email senden
                                        //button.btn-email2.btn-email-status2.btn.btn-primary.btn-sm.button-email-send(type='button') Email senden
                                        button.btn.btn-primary.btn-sm.custom-control-button-close(type='button') Abbrechen
                                        p.hidden.green Ihr E-Mail wurde erfolgreich an Benutzer verschickt
                                        p.hidden.red Das E-Mail wurde an Benutzer nicht verschickt. Wenden Sie sich bitte an Entwickler
                                        hr
                                br
                                button.btn.btn-primary.btn-sm.custom-control-button-open(type='button') Antrag zum Gremium
                                for order in softwareListDetails
                                    span.inputHide
                                        textarea.modalEmailTextarea#modalEmailTextarea3(placeholder='EmailVorlage' rows='10')
                                            | Guten Tag #{anredeMail} </br></br>Ihr Antrag zur Anschaffung der Software #{order.softwarename} muss durch das Gremium weiter geprüft werden. </br>Bitte beachten Sie, dass die Bearbeitung in aufwendigen Fällen (Bsp. grössere Lizenzpakete) bis zu 3 Monate dauern kann. Sie erhalten zu gegebener Zeit eine Rückmeldung zur Anschaffung oder Nicht-Anschaffung der gewünschten Software. </br></br>Freundliche Grüsse</br> Ihr Applprojekte Team</br> applprojekte.ph@fhnw.ch</br> n|w
                                        a.button-email-send.btn.btn-secondary.btn-sm(href="/details?tsid=" + order.orderid statuschange=3, mailtype=2, orderstatus=3)
                                            | Email senden
                                        button.btn.btn-primary.btn-sm.custom-control-button-close(type='button') Abbrechen
                                        p.hidden.green Ihr E-Mail wurde erfolgreich an Benutzer verschickt
                                        p.hidden.red Das E-Mail wurde an Benutzer nicht verschickt. Wenden Sie sich bitte an Entwickler
                                        hr
                            .modal-footer
                                for order in softwareListDetails
                                    //a.btn.btn-secondary.btn-sm(href="/details?tsid="+ order.orderid + "&statuschange=2" class="link-id")
                                        | Status bestätigen
                                    button.btn.btn-secondary.btn-sm(type='button' data-bs-dismiss='modal') Abbrechen
                                    hr

                #Modal3.modalStatus.modal.fade(tabindex='-1' role='dialog' aria-labelledby='ModalCenterTitle' aria-hidden='true')
                    .modal-dialog.modal-dialog-centered(role='document')
                        .modal-content
                            .modal-header
                                h5.modal-title Entscheid Gremium
                            .modal-body
                                button.btn.btn-secondary.btn-sm.custom-control-button-open(type='button') Antrag genehmigen
                                for order in softwareListDetails
                                    span.inputHide
                                        textarea.modalEmailTextarea#modalEmailTextarea12(placeholder='EmailVorlage' rows='10')
                                            |Guten Tag #{anredeMail} </br></br>Ihr Antrag zur Anschaffung der Software #{order.softwarename} wurde durch das Gremium geprüft und teilen Ihnen gerne mit, dass Sie diese über den
                                            |<a href="https://subito.insideapps.fhnw.ch/itshop/custom" target="_blank">FHNW Subito - IT-Shop</a> bestellen können.</br>
                                            |Preis für die Software:
                                            |</br>Auf der Seite <a href="https://welcome.inside.fhnw.ch/organisation/hochschule/PH/mitarbeitende/Seiten/softwarebestellung.aspx" target="_blank">«Softwarebestellung»</a> finden Sie eine kurze Anleitung, wie Sie die Software im FHNW Subito IT-Shop bestellen können.</br></br>Freundliche Grüsse</br> Ihr Applprojekte Team</br> applprojekte.ph@fhnw.ch</br> n|w
                                        a.button-email-send.btn.btn-secondary.btn-sm(href="/details?tsid=" + order.orderid statuschange=4, mailtype=2, orderstatus=4)
                                            | Email senden
                                        button.btn.btn-primary.btn-sm.custom-control-button-close(type='button') Abbrechen
                                        p.hidden.green Ihr E-Mail wurde erfolgreich an Benutzer verschickt
                                        p.hidden.red Das E-Mail wurde an Benutzer nicht verschickt. Wenden Sie sich bitte an Entwickler
                                        hr
                                br
                                button.btn.btn-primary.btn-sm.custom-control-button-open#modalEmailTextarea22(type='button') Antrag ablehnen
                                for order in softwareListDetails
                                    span.inputHide
                                        textarea.modalEmailTextarea(placeholder='EmailVorlage' rows='10')
                                            | Guten Tag #{anredeMail} </br></br>Ihr Antrag zur Anschaffung der Software #{order.softwarename} wurde durch das Gremium geprüft. Leider müssen wir Ihnen mitteilen, dass eine Anschaffung abgelehnt werden muss.</br>Begründung: </br></br>Freundliche Grüsse</br> Ihr Applprojekte Team</br> applprojekte.ph@fhnw.ch</br> n|w
                                        a.button-email-send.btn.btn-secondary.btn-sm(href="/details?tsid=" + order.orderid statuschange=5, mailtype=2, orderstatus=5)
                                            | Email senden
                                        button.btn.btn-primary.btn-sm.custom-control-button-close(type='button') Abbrechen
                                        p.hidden.green Ihr E-Mail wurde erfolgreich an Benutzer verschickt
                                        p.hidden.red Das E-Mail wurde an Benutzer nicht verschickt. Wenden Sie sich bitte an Entwickler
                                        hr
                            .modal-footer
                                for order in softwareListDetails
                                    button.btn.btn-secondary.btn-sm(type='button' data-bs-dismiss='modal') Abbrechen
                //#Modal4.modal.fade(tabindex='-1' role='dialog' aria-labelledby='ModalCenterTitle' aria-hidden='true')
                //    .modal-dialog.modal-dialog-centered(role='document')
                //        .modal-content
                //            .modal-header
                //                h5.modal-title Antrag abschliessen
                //            .modal-body
                //                for order in softwareListDetails
                //                    a.button-email-send.btn.btn-secondary.btn-sm(href="/details?tsid=" + order.orderid statuschange=5, mailtype=0, orderstatus=6, decision=0)
                //                        | Antrag abschliessen
                //                    button.btn.btn-secondary.btn-sm(type='button' data-bs-dismiss='modal') Abbrechen
                //#Modal5.modal.fade(tabindex='-1' role='dialog' aria-labelledby='ModalCenterTitle' aria-hidden='true')
                //    .modal-dialog.modal-dialog-centered(role='document')
                //        .modal-content
                //            .modal-header
                //                h5.modal-title Antrag abschliessen
                //            .modal-body
                //                for order in softwareListDetails
                //                    a.button-email-send.btn.btn-secondary.btn-sm(href="/details?tsid=" + order.orderid statuschange=6, mailtype=0, orderstatus=7, decision=0)
                //                        | Antrag abschliessen
                //                    button.btn.btn-secondary.btn-sm(type='button' data-bs-dismiss='modal') Abbrechen
                br.hidden-md
                .form-group-view-wrapper#AntragDetailsWrapper
                    .form-group
                            br
                            .col-md-12
                            if (admin == true)
                                for order in softwareListDetails
                                    if (order.notizen !== 'undefined') && ((order.notizen).length)
                                        label(for='form-function')
                                            | Notizen zum Antrag (vertraulich)
                                        p= order.notizen
                                h3.alert.alert-primary Angaben zur Person
                            for order in softwareListDetails
                                label
                                    | Institut
                                p(name='institut')= order.institut
                                label Professur/Zentrum/Ressort
                                p(name='professur')= order.professur
                                label
                                    | Name
                                if (order.anrede !== 'Neutrale Anrede')
                                    span= order.anrede
                                span= order.vorname
                                span= order.nachname
                                label
                                    | E-Mail-Adresse
                                p= order.email
                                label(for='form-function')
                                    | Funktion
                            for order in softwareListDetails
                                p= order.funktion
                                label(for='form-function')
                                    | Studiengang
                                p= order.studiengang
                                label(for='form-function')
                                    | Modulanlass
                                p= order.modulanlass
                            .col-md-12
                            for order in softwareListDetails
                                h3.alert.alert-primary Angaben zur Software
                                label
                                    | Anwendungs-/Lehr-/Lernszenario
                                p= order.szenario
                                label
                                    | Name der Software
                                p= order.softwarename
                                label
                                    | Webseite der Software
                                p= order.softwarewebseite
                                label
                                    | Version der Software
                                p= order.softwareversion
                                label
                                    | Handelt es sich um ein Update/Änderung eines bestehenden Paketes. Wenn ja, welches?
                                p= order.softwareupdate
                                if order.softwareupdate === 'Ja'
                                    p= order.softwareupdatewelches
                                label
                                    | Anzahl Lizenzen
                                p= order.lizenzenanzahl
                                label
                                    | Anzahl geplante Nutzer*innen
                                p= order.nutzeranzahl
                                label(for='form-function')
                                    | Nutzungsdauer
                                p= order.nutzungsdauer
                                if order.nutzungsdauertext
                                    label(for='form-function')
                                        | Nutzungsdauertext
                                    p= order.nutzungsdauertext
                                h3.alert.alert-primary Angaben zur Nutzung
                                label
                                    | Einsatz auf folgendem Betriebssystem
                                p= order.betriebssystem
                                label
                                    | Verwendung mit folgendem Browser
                                p= order.browser
                                label
                                    | Wie soll die Software zur Verfügung gestellt werden?
                                p= order.softwareverfuegung
                                label
                                    | W&auml;re die Software auch f&uuml;r ein anderes Institut der PH interessant?
                                p= order.softwareinteresse
                                if order.softwareinteresse === 'Ja'
                                    p= order.softwareinstitut
                                label
                                    | W&auml;re die Software auch f&uuml;r andere Hochschulen interessant?
                                p= order.softwarehochschinteresse
                                if order.softwarehochschinteresse === 'Ja'
                                    p= order.softwarehochschule
                            .col-md-12
                            for order in softwareListDetails
                                h3.alert.alert-primary Lizenzierung
                                label
                                    | F&uuml;r welche Institution
                                p= order.lizenzinstitution
                                label
                                    | Art
                                p= order.lizenzart
                                h3.alert.alert-primary Kosten
                                label
                                    | Kosten Lizenzmodell
                                p= order.lizenzkosten
                                h3.alert.alert-primary Zus&auml;tzliche Angaben
                                label
                                    | Vergleichbarkeit
                                p= order.vergleichbarkeit
                                label
                                    | Support durch
                                p= order.support
                                label
                                    | Rechtliche Frage: Datenspeicherung in einer Cloud?
                                p= order.cloud
                                for order in softwareListDetails
                                    if order.cloud === 'Nein'
                                        p= order.cloudwo
                                label(for='form-function')
                                    | Product Owner
                                p= order.productowner
                                for order in softwareListDetails
                                    if order.bemerkungen!== 'undefined' && ((order.bemerkungen).length)
                                      label(for='form-function')
                                        | Bemerkungen
                                      p= order.bemerkungen
                                label(for='form-function')
                                    | Datum
                                p= order.datumantrag
                                iframe#pdfframe(srcpdf="/document.pdf?tsid="+ order.orderid frameborder='0' style='border:0;' height='0')

script(type='text/javascript' src="./static/js/libs/jquery.js")                                                                                                             button.btn.btn-secondary.btn-sm(type='button' data-dismiss='modal')
script(type='text/javascript').
    $(document).ready(function () {
        $(".custom-control-button-open").click(function () {
            $(this).next(".inputHide").delay(300).slideDown("slow");
        });
        $(".custom-control-button-close").click(function () {
            $(this).closest(".inputHide").delay(300).slideUp("slow");
        });
        $('.button-email-send').one('click',function (e) {
            e.preventDefault();
            e.stopPropagation();
            let mailtype = $(this).attr('mailtype');
            let statuschange = $(this).attr('statuschange');
            let orderstatus  = $(this).attr('orderstatus');
            const urlParams = new URLSearchParams(window.location.search);
            const currenturlParam = urlParams.get('tsid');
            let mailtext;
            mailtext = $(this).prev().val();
            let d = new Date();
            let month = d.getMonth() + 1;
            let day = d.getDate();
            let hour = d.getHours();
            let minute = d.getMinutes();
            let datetime =
                (('' + day).length < 2 ? '0' : '') + day + '.' +
                (('' + month).length < 2 ? '0' : '') + month + '.' +
                d.getFullYear() + ' ' +
                (('' + hour).length < 2 ? '0' : '') + hour + ':' +
                (('' + minute).length < 2 ? '0' : '') + minute;

                $.ajax({
                    type: 'POST',
                    data: {
                        statuschange: statuschange,
                        mailtext: mailtext,
                        datetime: datetime,
                        mailtype: mailtype,
                        orderstatus: orderstatus
                    },
                    url: '/details?tsid=' + currenturlParam,
                    success: function (data) {

                            $('.green').removeClass('hidden');
                            window.setTimeout(function () {
                                window.location.replace("/details?tsid=" + currenturlParam);
                            }, 500);

                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        $('.red').removeClass('hidden');
                        alert(xhr.status);
                        alert(thrownError);
                    }
                });

        });
    });