#content.details
    .container
        .row
            .col-md-12
                br
                br
                for order in softwareListDetails
                    h2(id='tables') Softwareantrag #!{order.orderid} !{order.softwarename}
                    for order in softwareListDetails
                        if(order.status == 10)
                            span.span-draft Entwurf
                include elements/buttons-view
                for order in softwareListDetails
                    if(order.status != 10)
                        ul.progressbar
                            for order in softwareListDetails
                                -let list = ['Antrag eingegangen', 'Antrag in Bearbeitung', 'Antrag in Prüfung', 'Antrag bei Gremium', 'Antrag Entscheid','Antrag abgeschlossen'];
                                -for (var i = 1; i < list.length; i++)
                                        if((i < order.status))
                                            li(class=["li-status", "active item" + i] id="orderstatus" + i)
                                                span= list[i]
                                        else if(i == order.status)
                                            li(class=["li-status", "preactive item" + i] id="orderstatus" + i type='button' data-bs-toggle='modal' data-bs-target='#Modal'+i)
                                                span= list[i]
                                        else
                                            li(class=["li-status", "item" + i] id="orderstatus" + i type='button' data-bs-toggle='modal' data-bs-target='#Modal'+i)
                                                span= list[i]

                #Modal2.modalStatus.modal.fade(tabindex='-1' role='dialog' aria-labelledby='ModalCenterTitle' aria-hidden='true')
                    .modal-dialog.modal-dialog-centered(role='document')
                        .modal-content
                            .modal-header
                                h5.modal-title Antrag in Prüfung
                            .modal-body
                                button.btn.btn-secondary.btn-sm.custom-control-button-open(type='button') Antrag genehmigen
                                for order in softwareListDetails
                                    span.inputHide
                                        textarea.modalEmailTextarea#modalEmailTextarea1(placeholder='EmailVorlage' rows='10')
                                            |Guten Tag #{order.anrede} #{order.nachname} </br></br>Wir haben Ihren Antrag für die Anschaffung der Software #{order.softwarename} geprüft und teilen Ihnen gerne mit, dass Sie diese über den Subito Shop bestellen können. </br></br>Freundliche Grüsse</br> Ihr Applprojekte Team</br> applprojekte.ph@fhnw.ch</br> n|w
                                        a.btn.btn-secondary.btn-sm(href="/details?tsid=" + order.orderid + "&statuschange=4" class="link-id")
                                            | Email senden
                                        button.btn.btn-primary.btn-sm.custom-control-button-close(type='button') Abbrechen
                                        p.hidden.green Ihr E-Mail wurde erfolgreich an Benutzer verschickt
                                        p.hidden.red Das E-Mail wurde an Benutzer nicht verschickt. Wenden Sie sich bitte an Entwickler
                                        hr
                                br
                                button.btn.btn-primary.btn-sm.custom-control-button-open(type='button') Antrag ablehnen
                                for order in softwareListDetails
                                    span.inputHide
                                        textarea.modalEmailTextarea#modalEmailTextarea2(placeholder='EmailVorlage' rows='10')
                                            | Guten Tag #{order.anrede} #{order.nachname} </br></br>Ihr Antrag zur Anschaffung der Software #{order.softwarename} wurde geprüft. Leider müssen wir Ihnen mitteilen, dass eine Anschaffung abgelehnt werden muss.</br>Begründung:</br></br>Freundliche Grüsse</br> Ihr Applprojekte Team</br> applprojekte.ph@fhnw.ch</br> n|w
                                        a.btn.btn-secondary.btn-sm(href="/details?tsid="+ order.orderid + "&statuschange=4" class="link-id")
                                            | Email senden
                                        //button.btn-email2.btn-email-status2.btn.btn-primary.btn-sm.button-email-send(type='button') Email senden
                                        button.btn.btn-primary.btn-sm.custom-control-button-close(type='button') Abbrechen
                                        p.hidden.green Ihr E-Mail wurde erfolgreich an Benutzer verschickt
                                        p.hidden.red Das E-Mail wurde an Benutzer nicht verschickt. Wenden Sie sich bitte an Entwickler
                                        hr
                                br
                                button.btn.btn-primary.btn-sm.custom-control-button-open(type='button') Antrag zum Gremium
                                for order in softwareListDetails
                                    span.inputHide
                                        textarea.modalEmailTextarea#modalEmailTextarea3(placeholder='EmailVorlage' rows='10')
                                            | Guten Tag #{order.anrede} #{order.nachname} </br></br>Ihr Antrag zur Anschaffung der Software #{order.softwarename} muss durch das Gremium weiter geprüft werden. </br>Bitte beachten Sie, dass die Bearbeitung in aufwendigen Fällen (Bsp. grössere Lizenzpakete) bis zu 3 Monate dauern kann. Sie erhalten dann eine Rückmeldung zur Anschaffung oder Nicht-Anschaffung der gewünschten Software. </br></br>Freundliche Grüsse</br> Ihr Applprojekte Team</br> applprojekte.ph@fhnw.ch</br> n|w
                                        a.btn.btn-secondary.btn-sm(href="/details?tsid=" + order.orderid + "&statuschange=3" class="link-id")
                                            | Email senden
                                        button.btn.btn-primary.btn-sm.custom-control-button-close(type='button') Abbrechen
                                        p.hidden.green Ihr E-Mail wurde erfolgreich an Benutzer verschickt
                                        p.hidden.red Das E-Mail wurde an Benutzer nicht verschickt. Wenden Sie sich bitte an Entwickler
                                        hr
                            .modal-footer
                                for order in softwareListDetails
                                    //a.btn.btn-secondary.btn-sm(href="/details?tsid="+ order.orderid + "&statuschange=2" class="link-id")
                                       // | Status bestätigen
                                    button.btn.btn-secondary.btn-sm(type='button' data-bs-dismiss='modal') Abbrechen
                                    hr

                #Modal3.modalStatus.modal.fade(tabindex='-1' role='dialog' aria-labelledby='ModalCenterTitle' aria-hidden='true')
                    .modal-dialog.modal-dialog-centered(role='document')
                        .modal-content
                            .modal-header
                                h5.modal-title Entscheid Gremium
                            .modal-body
                                button.btn.btn-secondary.btn-sm.custom-control-button-open(type='button') Antrag genehmigen
                                for order in softwareListDetails
                                    span.inputHide
                                        textarea.modalEmailTextarea#modalEmailTextarea12(placeholder='EmailVorlage' rows='10')
                                            | Guten Tag #{order.anrede} #{order.nachname} </br></br>Wir haben Ihren Antrag für die Anschaffung der Software #{order.softwarename} wurde durch das Gremium geprüft und teilen Ihnen gerne mit, dass Sie diese über den Subito Shop bestellen können.</br></br>Freundliche Grüsse</br> Ihr Applprojekte Team</br> applprojekte.ph@fhnw.ch</br> n|w
                                        a.btn.btn-secondary.btn-sm(href="/details?tsid=" + order.orderid + "&statuschange=4" class="link-id")
                                            | Email senden
                                        button.btn.btn-primary.btn-sm.custom-control-button-close(type='button') Abbrechen
                                        p.hidden.green Ihr E-Mail wurde erfolgreich an Benutzer verschickt
                                        p.hidden.red Das E-Mail wurde an Benutzer nicht verschickt. Wenden Sie sich bitte an Entwickler
                                        hr
                                br
                                button.btn.btn-primary.btn-sm.custom-control-button-open#modalEmailTextarea22(type='button') Antrag ablehnen
                                for order in softwareListDetails
                                    span.inputHide
                                        textarea.modalEmailTextarea(placeholder='EmailVorlage' rows='10')
                                            | Guten Tag #{order.anrede} #{order.nachname} </br></br>Ihr Antrag zur Anschaffung der Software #{order.softwarename} wurde durch das Gremium geprüft. Leider müssen wir Ihnen mitteilen, dass eine Anschaffung abgelehnt werden muss.</br>Begründung: </br></br>Freundliche Grüsse</br> Ihr Applprojekte Team</br> applprojekte.ph@fhnw.ch</br> n|w
                                        a.btn.btn-secondary.btn-sm(href="/details?tsid=" + order.orderid + "&statuschange=4" class="link-id btn-email2 btn-email-status2")
                                            | Email senden
                                        button.btn.btn-primary.btn-sm.custom-control-button-close(type='button') Abbrechen
                                        p.hidden.green Ihr E-Mail wurde erfolgreich an Benutzer verschickt
                                        p.hidden.red Das E-Mail wurde an Benutzer nicht verschickt. Wenden Sie sich bitte an Entwickler
                                        hr
                            .modal-footer
                                for order in softwareListDetails
                                    a.btn.btn-secondary.btn-sm(href="/details?tsid=" + order.orderid + "&statuschange=5" class="link-id")
                                        | Status bestätigen
                                    button.btn.btn-secondary.btn-sm(type='button' data-bs-dismiss='modal') Abbrechen
                #Modal4.modal.fade(tabindex='-1' role='dialog' aria-labelledby='ModalCenterTitle' aria-hidden='true')
                    .modal-dialog.modal-dialog-centered(role='document')
                        .modal-content
                            .modal-header
                                h5.modal-title Antrag abschliessen
                            .modal-body
                                for order in softwareListDetails
                                    a.btn.btn-secondary.btn-sm(href="/details?tsid="+ order.orderid + "&statuschange=5" class="link-id")
                                        | Antrag abschliessen
                                    a(href='#')
                                        button.btn.btn-secondary.btn-sm(type='button' data-bs-dismiss='modal') Abbrechen
                #Modal5.modal.fade(tabindex='-1' role='dialog' aria-labelledby='ModalCenterTitle' aria-hidden='true')
                    .modal-dialog.modal-dialog-centered(role='document')
                        .modal-content
                            .modal-header
                                h5.modal-title Antrag abschliessen
                            .modal-body
                                for order in softwareListDetails
                                    a.btn.btn-secondary.btn-sm.btn-ready(href="/details?tsid="+ order.orderid + "&statuschange=6" class="link-id")
                                        | Antrag abschliessen (Benutzer informieren)
                                    a(href='#')
                                        button.btn.btn-secondary.btn-sm(type='button' data-bs-dismiss='modal') Abbrechen
                br
                .form-group-view-wrapper
                    .form-group
                        .row
                            br
                            .col-md-12
                                h3.alert.alert-primary Angaben zur Person
                            for order in softwareListDetails
                                label
                                    | Institut
                                p(name='institut')= order.institut
                                label Professur/Zentrum/Ressort
                                p(name='professur')= order.professur
                                label
                                    | Beantragter*in
                                span= order.anrede
                                    br
                                span= order.vorname
                                    br
                                span= order.nachname
                                label
                                    | E-Mail-Adresse
                                p= order.email
                                label(for='form-function')
                                    | Funktion
                            for order in softwareListDetails
                                p= order.funktion
                                for order in softwareListDetails
                                    if order.anrede2!== 'undefined'
                                        label
                                            | zweite Kontaktperson
                                        span= order.anrede2
                                for order in softwareListDetails
                                    if order.vorname2 && order.vorname2!== 'undefined'
                                        span= order.vorname2
                                for order in softwareListDetails
                                    if order.nachname2 && order.nachname2!== 'undefined'
                                        span= order.nachname2
                                for order in softwareListDetails
                                    if order.email2
                                        label
                                            | E-Mail-Adresse
                                        p= order.email2
                                for order in softwareListDetails
                                    if order.funktion2!== 'undefined'
                                        label(for='form-function')
                                            | Funktion
                                        p= order.funktion2
                                label(for='form-function')
                                    | Studiengang
                                p= order.studiengang
                                label(for='form-function')
                                    | Modulanlass
                                p= order.modulanlass
                            .col-md-12
                            for order in softwareListDetails
                                h3.alert.alert-primary Angaben zur Software
                                label
                                    | Anwendungs-/Lehr-/Lernszenario
                                p= order.szenario
                                label
                                    | Name der Software
                                p= order.softwarename
                                label
                                    | Webseite der Software
                                p= order.softwarewebseite
                                label
                                    | Version der Software
                                label
                                    | Handelt es sich um ein Update/Änderung eines bestehenden Paketes. Wenn ja, welches?
                                p= order.softwareupdate
                                if order.softwareupdate === 'Ja'
                                    p= order.softwareupdatewelches
                                label
                                    | Anzahl Lizenzen
                                p= order.lizenzenanzahl
                                label
                                    | Anzahl geplante Nutzer*innen
                                p= order.nutzeranzahl
                                label(for='form-function')
                                    | Nutzungsdauer
                                p= order.nutzungsdauer
                                if order.nutzungsdauertext
                                    label(for='form-function')
                                        | Nutzungsdauertext
                                    p= order.nutzungsdauertext
                                h3.alert.alert-primary Angaben zur Nutzung
                                label
                                    | Einsatz auf folgendem Betriebssystem
                                p= order.betriebssystem
                                label
                                    | Verwendung mit folgendem Browser
                                p= order.browser
                                label
                                    | Wie soll die Software zur Verfügung gestellt werden?
                                p= order.softwareverfuegung
                                label
                                    | W&auml;re die Software auch f&uuml;r ein anderes Institut der PH interessant?
                                p= order.softwareinteresse
                                if order.softwareinteresse === 'Ja'
                                    p= order.softwareinstitut
                                label
                                    | W&auml;re die Software auch f&uuml;r andere Hochschulen interessant?
                                p= order.softwarehochschinteresse
                                if order.softwarehochschinteresse === 'Ja'
                                    p= order.softwarehochschule
                            .col-md-12
                            for order in softwareListDetails
                                h3.alert.alert-primary Lizensierung
                                label
                                    | F&uuml;r welche Institution
                                p= order.lizenzinstitution
                                label
                                    | Art
                                p= order.lizenzart
                                h3.alert.alert-primary Kosten
                                label
                                    | Kosten Lizenzmodell
                                p= order.lizenzkosten
                                h3.alert.alert-primary Zus&auml;tzliche Angaben
                                label
                                    | Vergleichbarkeit
                                p= order.vergleichbarkeit
                                label
                                    | Support durch
                                p= order.support
                                label
                                    | Rechtliche Frage: Datenspeicherung in einer Cloud?
                                p= order.cloud
                                for order in softwareListDetails
                                    if order.cloud === 'Nein'
                                        p= order.cloudwo
                                label(for='form-function')
                                    | Product Owner
                                p= order.productowner
                                for order in softwareListDetails
                                    if order.notizen!== 'undefined'
                                      label(for='form-function')
                                        | Bemerkungen
                                      p= order.notizen
                                label(for='form-function')
                                    | Datum
                                p= order.datumantrag
script(type='text/javascript' src="./static/js/libs/jquery.js")                                                                                                             button.btn.btn-secondary.btn-sm(type='button' data-dismiss='modal')
script(type='text/javascript').
    $(document).ready(function () {
        $(".custom-control-button-open").click(function () {
            $(this).next(".inputHide").delay(300).slideDown("slow");
        });
        $(".custom-control-button-close").click(function () {
            $(this).closest(".inputHide").delay(300).slideUp("slow");
        });
        $('.button-email-send').click(function (e) {
            e.preventDefault();
            let mailtype = $(this).attr('class').split(' ')[0].slice(-1);
            let status = $(this).attr('class').split(' ')[1].slice(-1);
            const urlParams = new URLSearchParams(window.location.search);
            const currenturlParam = urlParams.get('tsid');
            let mailtext = $(this).prev().val();
            let d = new Date();
            let month = d.getMonth() + 1;
            let day = d.getDate();
            let hour = d.getHours();
            let minute = d.getMinutes();
            let second = d.getSeconds();
            let datetime = d.getFullYear() + '-' +
                (('' + month).length < 2 ? '0' : '') + month + '-' +
                (('' + day).length < 2 ? '0' : '') + day + ' ' +
                (('' + hour).length < 2 ? '0' : '') + hour + ':' +
                (('' + minute).length < 2 ? '0' : '') + minute + ':' +
                (('' + second).length < 2 ? '0' : '') + second;
            $.ajax({
                type: 'GET',
                data: {status: status},
                url: '/details?tsid=' + currenturlParam + '&st=' + status + '&mailtext=' + mailtext + '&datetime=' + datetime + '&mailtype=' + mailtype,
                success: function (data) {
                  //  $(this).add('span').text('Ihr E-Mail wurde erfolgreich an Benutzer versendet').addClass('green');
                    $('.green').removeClass('hidden');
                    $(this).parent(".inputHide").delay(300).slideDown("slow");
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    //$(this).add('span').text('Ihr E-Mail wurde erfolgreich an Benutzer versendet').addClass('green');
                    $('.red').removeClass('hidden');
                    alert(xhr.status);
                    alert(thrownError);
                }
            });
        });
    });