//input#form-id.form-control.hidden(type='text' name='userid' value=useridlog)
input#form-status-input.form-control.hidden(type='text' name='status')

#accordionForm.accordion
    .accordion-item
        h2#headingOne.accordion-header
            button.accordion-button(type='button' data-bs-toggle='collapse' data-bs-target='#collapseOne' aria-expanded='true' aria-controls='collapseOne')
                h3 Angaben zur Person
        #collapseOne.accordion-collapse.collapse.in(aria-labelledby='headingOne' data-bs-parent='#accordionForm')
            .accordion-body
                .form-group
                    .row
                        .col-md-6.fields
                            .col-12
                            label(for='form-institut') Institut*
                            if (typeof (softwareListDetails) !== 'undefined')
                                for order in softwareListDetails
                                    select#form-institut.form-select.form-control.form-select(required name='institut' filled=order.institut)
                                        option(selected='' disabled='' value='')
                                            | W&auml;hlen Sie ein Institut...
                                        option(value='Kindergarten-/Unterstufe') Kindergarten-/Unterstufe
                                        option(value='Primarstufe') Primarstufe
                                        option(value='Sekundarstufe I und II') Sekundarstufe I und II
                                        option(value='Spezielle Pädagogik und Psychologie') Spezielle P&auml;dagogik und Psychologie
                                        option(value='Weiterbildung und Beratung') Weiterbildung und Beratung
                                        option(value='Forschung und Entwicklung') Forschung und Entwicklung
                                        option(value='Stab') Stab
                                        .invalid-feedback
                                            | Pflichtfeld
                            else
                                select.form-select.form-control(required='' name='institut')
                                    option(selected='' disabled='' value='')
                                        | W&auml;hlen Sie ein Institut...
                                    option Kindergarten-/Unterstufe
                                    option Primarstufe
                                    option Sekundarstufe I und II
                                    option Spezielle P&auml;dagogik und Psychologie
                                    option Weiterbildung und Beratung
                                    option Forschung und Entwicklung
                                    option Stab
                                .invalid-feedback
                                    | Pflichtfeld
                        .col-md-6.fields
                            label(for='form-prof') Professur/Zentrum/Ressort*
                            if (typeof (softwareListDetails) !== 'undefined')
                                for order in softwareListDetails
                                    input#form-prof.form-control(type='text' required='' name='professur' value=order.professur)
                            else
                                input#form-prof.form-control(type='text' required='' name='professur')
                            .invalid-feedback
                                | Pflichtfeld
                        .col-md-12.fields
                            br
                            label(for='form-name')
                                | Beantragter*innen
                            .row
                                .col-md-4.fields
                                    label(for='form-author-firstname')
                                        | Anrede*
                                    .custom-select-js
                                        .custom-select-js
                                        if (typeof (softwareListDetails) !== 'undefined')
                                            for order in softwareListDetails
                                                select.form-select.form-control.custom-control-select(required='' name='anrede' filled=order.anrede)
                                                    option(selected='' disabled='' value='') Auswahl
                                                    option(value="Frau") Frau
                                                    option(value="Herr") Herr
                                                .invalid-feedback
                                                    | Wählen Sie eine option
                                        else
                                            select.form-select.form-control.custom-control-select(required='' name='anrede')
                                                option(selected='' disabled='' value='') Auswahl
                                                option(value="Frau") Frau
                                                option(value="Herr") Herr
                                            .invalid-feedback
                                                | Wählen Sie eine option

                                .col-md-4.fields
                                    label(for='form-author-firstname')
                                        | Vorname*
                                    if (typeof (softwareListDetails) !== 'undefined')
                                        for order in softwareListDetails
                                            input#form-author-firstname.form-control(type='text' required='' name='vorname' value=order.vorname)
                                    else
                                        input#form-author-firstname.form-control(type='text' required='' name='vorname' value=vornamelog)
                                    .invalid-feedback
                                        | Pflichtfeld
                                .col-md-4.fields
                                    label(for='form-author-name')
                                        | Nachname*
                                    if (typeof (softwareListDetails) !== 'undefined')
                                        for order in softwareListDetails
                                            input#form-author-name.form-control(type='text' required='' name='nachname' value=order.nachname)
                                    else
                                        input#form-author-name.form-control(type='text' required='' name='nachname' value=nachnamelog)
                                    .invalid-feedback
                                        | Pflichtfeld

                                .col-md-6.fields
                                    br
                                    label(for='form-author-email')
                                        | E-Mail-Adresse*
                                    if (typeof (softwareListDetails) !== 'undefined')
                                        for order in softwareListDetails
                                            input#form-author-email.form-control(type='email' required='' name='email' value=order.email)
                                    else
                                        input#form-author-email.form-control(type='email' required='' name='email' value=emaillog)
                                    .invalid-feedback
                                        | Pflichtfeld
                                .col-md-6.fields
                                    br
                                    label(for='form-author-function')
                                        | Funktion*
                                    if (typeof (softwareListDetails) !== 'undefined')
                                        for order in softwareListDetails
                                            input#form-author-function.form-control(type='text' required='' name='funktion' value=order.funktion)
                                    else
                                        input#form-author-function.form-control(type='text' required='' name='funktion')
                                    .invalid-feedback
                                        | Pflichtfeld
                            br
                            .row
                                .col-md-6.fields
                                    label(for='form-study')
                                        | Studiengang*
                                    if (typeof (softwareListDetails) !== 'undefined')
                                        for order in softwareListDetails
                                            input#form-study.form-control(type='text' required='' name='studiengang' value=order.studiengang)
                                    else
                                        input#form-study.form-control(type='text' required='' name='studiengang')
                                    .invalid-feedback
                                        | Pflichtfeld
                                .col-md-6.fields
                                    label(for='form-modul')
                                        | Modulanlass*
                                    if (typeof (softwareListDetails) !== 'undefined')
                                        for order in softwareListDetails
                                            input#form-modul.form-control(type='text' required='' name='modulanlass' value=order.modulanlass)
                                    else
                                        input#form-modul.form-control(type='text' required='' name='modulanlass')
                                    .invalid-feedback
                                        | Pflichtfeld
    .accordion-item
        h2#headingTwo.accordion-header
            button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#collapseTwo' aria-expanded='false' aria-controls='collapseTwo')
                h3 Angaben zur Software
        #collapseTwo.accordion-collapse.collapse(aria-labelledby='headingTwo' data-bs-parent='#accordionForm')
            .accordion-body
                label.form-label(for='validationTextarea') Anwendungs-/Lehr-/Lernszenario*
                small
                    | (Bitte beschreiben Sie kurz, in welchem Setting und welcher Art die Software
                    | eingesetzt werden soll)
                if (typeof (softwareListDetails) !== 'undefined')
                    for order in softwareListDetails
                        textarea#validationTextarea.form-control.textarea-js(maxlength='5000' rows='7' required='' name='szenario')
                            | #{order.szenario}
                else
                    textarea#validationTextarea.form-control.textarea-js(maxlength='5000' rows='7' required='' name='szenario')
                //small.floatright.text-small-char
                //        | Noch
                //        | &nbsp;
                //        span.charleft
                //        |      Zeichen
                .invalid-feedback
                    | Pflichtfeld
                br
                .row
                    .col-md-6.fields
                        label(for='form-softwarename')
                            | Name der Software*
                        if (typeof (softwareListDetails) !== 'undefined')
                            for order in softwareListDetails
                                input#form-softwarename.form-control(type='text' required='' name='softwarename' value=order.softwarename)
                        else
                            input#form-softwarename.form-control(type='text' required='' name='softwarename')
                        .invalid-feedback
                            | Pflichtfeld
                    .col-md-6.fields
                        label(for='form-softwarewebsite')
                            | Webseite der Software*
                        if (typeof (softwareListDetails) !== 'undefined')
                            for order in softwareListDetails
                                input#form-softwarewebseite.form-control(type='text' required='' name='softwarewebseite' value=order.softwarewebseite)
                        else
                            input#form-softwarewebsite.form-control(type='text' required='' name='softwarewebseite')
                        .invalid-feedback
                            | Pflichtfeld
                    .col-md-6.fields
                        br
                        label.form-label(for='validationTextarea') Version der Software*
                        if (typeof (softwareListDetails) !== 'undefined')
                            for order in softwareListDetails
                                input#form-softwareversion.form-control(type='text' required='' name='softwareversion' value=order.softwareversion)
                        else
                            input#form-softwareversion.form-control(type='text' required='' name='softwareversion')
                        .invalid-feedback
                            | Pflichtfeld
                        br
                    .col-md-12.fields
                        label
                            | Handelt es sich um ein Update/&Auml;nderung eines bestehenden Paketes. Wenn
                            | ja, welches?
                        if (typeof (softwareListDetails) !== 'undefined')
                            for order in softwareListDetails
                                if (order.softwareupdate == "Nein")
                                    .custom-control.custom-radio
                                        input#customRadioDisabled1.custom-control-input(type='radio' value="Nein" name='softwareupdate' required='' checked)
                                        label.custom-control-label.custom-control-label-js(for='customRadioDisabled1' answer='no') Nein
                                    .custom-control.custom-radio
                                        input#customRadioDisabled2.custom-control-input(type='radio' value="Ja" name='softwareupdate' required='')
                                        label.custom-control-label.custom-control-label-js(for='customRadioDisabled2' answer='open') Ja
                                        .invalid-feedback
                                            | Pflichtfeld
                                    .collapse.inputHide
                                        textarea#validationTextarea.form-control.textarea-js(maxlength='5000' rows='7' name='softwareupdatewelches')
                                        //small.floatright.text-small-char
                                        //        | Noch
                                        //        | &nbsp;
                                        //        span.charleft
                                        //        |                                                 Zeichen
                                        .invalid-feedback
                                            | Pflichtfeld
                                    //small.floatright.text-small-char
                                    //        | Noch
                                    //        | &nbsp;
                                    //        span.charleft
                                    //        |                                                 Zeichen
                                    .invalid-feedback
                                        | Pflichtfeld
                                else if (order.softwareupdate == "Ja")
                                    .custom-control.custom-radio
                                        input#customRadioDisabled1.custom-control-input(type='radio' value="Nein" name='softwareupdate' required='')
                                        label.custom-control-label(for='customRadioDisabled1' answer='no') Nein
                                    .custom-control.custom-radio
                                        input#customRadioDisabled2.custom-control-input(type='radio' value="Ja" name='softwareupdate' required='' checked)
                                        label.custom-control-label(for='customRadioDisabled2' answer='open') Ja
                                        .invalid-feedback
                                            | Pflichtfeld
                                    textarea#validationTextarea.form-control(maxlength='5000' rows='7' name='softwareupdatewelches')
                                        | #{order.softwareupdatewelches}
                                    //small.floatright.text-small-char
                                    //        | Noch
                                    //        | &nbsp;
                                    //        span.charleft
                                    //        |                                                 Zeichen


                                    //small.floatright.text-small-char
                                    //        | Noch
                                    //        | &nbsp;
                                    //        span.charleft
                                    //        | Zeichen
                                    .invalid-feedback
                                        | Pflichtfeld
                                else
                                    .custom-control.custom-radio
                                        input#customRadioDisabled1.custom-control-input(type='radio' value="Nein" name='softwareupdate' required='')
                                        label.custom-control-label.custom-control-label-js(for='customRadioDisabled1' answer='no') Nein
                                    .custom-control.custom-radio
                                        input#customRadioDisabled2.custom-control-input(type='radio' value="Ja" name='softwareupdate' required='')
                                        label.custom-control-label.custom-control-label-js(for='customRadioDisabled2' answer='open') Ja
                                        .invalid-feedback
                                            | Pflichtfeld
                                    .collapse.inputHide
                                        textarea#validationTextarea.form-control.textarea-js(maxlength='5000' rows='7' name='softwareupdatewelches')
                        else
                            .custom-control.custom-radio
                                input#customRadioDisabled1.custom-control-input(type='radio' value="Nein" name='softwareupdate' required='')
                                label.custom-control-label.custom-control-label-js(for='customRadioDisabled1' answer='no') Nein
                            .custom-control.custom-radio
                                input#customRadioDisabled2.custom-control-input(type='radio' value="Ja" name='softwareupdate' required='')
                                label.custom-control-label.custom-control-label-js(for='customRadioDisabled2' answer='open') Ja
                                .invalid-feedback
                                    | Pflichtfeld
                            .collapse.inputHide
                                textarea#validationTextarea.form-control.textarea-js(maxlength='5000' rows='7' name='softwareupdatewelches')
                                //small.floatright.text-small-char
                                //        | Noch
                                //        | &nbsp;
                                //        span.charleft
                                //        |                                                 Zeichen
                                .invalid-feedback
                                    | Pflichtfeld
                br
                .row
                    .col-md-6.fields
                        label(for='form-lizenz')
                            | Anzahl Lizenzen*
                        if (typeof (softwareListDetails) !== 'undefined')
                            for order in softwareListDetails
                                input#form-lizenz.form-control(min="1" type='number' required='' name='lizenzenanzahl' value=order.lizenzenanzahl)
                        else
                            input#form-lizenz.form-control(min="1" type='number' required='' name='lizenzenanzahl')
                        .invalid-feedback
                            | Pflichtfeld
                    .col-md-6.fields
                        label(for='form-user')
                            | Anzahl geplante Nutzer*innen*
                        if (typeof (softwareListDetails) !== 'undefined')
                            for order in softwareListDetails
                                input#form-user.form-control(min="1" type='number' required='' name='nutzeranzahl' value=order.nutzeranzahl)
                        else
                            input#form-user.form-control(min="1" type='number' required='' name='nutzeranzahl')
                        .invalid-feedback
                            | Pflichtfeld
                .row
                    .col-md-6.fields
                        br
                        label(for='form-lizenz')
                            | Nutzungsdauer*
                        .custom-select-js
                            .custom-select-js
                            if (typeof (softwareListDetails) !== 'undefined')
                                for order in softwareListDetails
                                    select.form-select.form-control.custom-control-select(required='' name='nutzungsdauer' filled=order.nutzungsdauer)
                                        option(selected='' disabled='' value='') Auswahl oder Eingabe
                                        option(value="1 Semester") 1 Semester
                                        option(value="2 Semester")  2 Semester
                                        option(value="3 bis 6 Semester")  3 bis 6 Semester
                                        option.custom-control-input(name='radioInst' answer='open' value="eigene Eingabe")
                                            | eigene Eingabe
                                    .collapse.inputHide
                                        br
                                        input#form-author-name.form-control(type='text' name='nutzungsdauertext' placeholder='Nutzungsdauer' value=order.nutzungsdauertext)
                                        .invalid-feedback
                                            | Pflichtfeld
                            else
                                select.form-select.form-control.custom-control-select(required='' name='nutzungsdauer')
                                    option(selected='' disabled='' value='') Auswahl oder Eingabe
                                    option(value="1 Semester") 1 Semester
                                    option(value="2 Semester")  2 Semester
                                    option(value="3 bis 6 Semester")  3 bis 6 Semester
                                    option.custom-control-input(name='radioInst' answer='open')
                                        | eigene Eingabe
                                .collapse.inputHide
                                    br
                                    input#form-author-name.form-control(type='text' name='nutzungsdauertext' placeholder='Nutzungsdauer')
                                .invalid-feedback
                                    | Pflichtfeld
                br
    .accordion-item
        h2#headingThree.accordion-header
            button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#collapseThree' aria-expanded='false' aria-controls='collapseThree')
                h3 Angaben zur Nutzung
        #collapseThree.accordion-collapse.collapse(aria-labelledby='headingThree' data-bs-parent='#accordionForm')
            .accordion-body
                .row
                    p Bitte erg&auml;nzen Sie die Angaben zum Betrieb der Software
                    .col-md-6.fields
                        label(for='form-bs')
                            | Einsatz auf folgendem Betriebssystem*:
                        if (typeof (softwareListDetails) !== 'undefined')
                            for order in softwareListDetails
                                select.form-select.form-control(required='' name='betriebssystem' filled=order.betriebssystem)
                                    option(selected='' disabled='' value='') Auswahl
                                    option(value="Windows") Windows
                                    option(value="Apple") Apple
                                    option(value="beide Betriebssysteme") beide Betriebssysteme
                                    option(value="Ich weiss es nicht") Ich weiss es nicht
                                    .invalid-feedback
                                        | Pflichtfeld
                        else
                            select.form-select.form-control(required='' name='betriebssystem')
                                option(selected='' disabled='' value='') Auswahl
                                option(value="Windows") Windows
                                option(value="Apple") Apple
                                option(value="beide Betriebssysteme") beide Betriebssysteme
                                option(value="Ich weiss es nicht") Ich weiss es nicht
                        .invalid-feedback
                            | Pflichtfeld
                    .col-md-6.fields
                        label(for='form-browser')
                            | Verwendung mit folgendem Browser*:
                        .row
                        if (typeof (softwareListDetails) !== 'undefined')
                            for order in softwareListDetails
                                .col-md-6.form-check-wrapper(filled=order.browser)
                                    .form-check
                                        label.form-check-label
                                            input#inlineCheckbox1.form-check-input.form-check-input-js(type='checkbox' value='Microsoft Edge' name='browser' required)
                                            |  Microsoft Edge
                                    .form-check
                                        label.form-check-label
                                            input#inlineCheckbox2.form-check-input.form-check-input-js(type='checkbox' value='Safari' name='browser' required)
                                            |  Safari (Apple)
                                .col-md-6
                                    .form-check
                                        label.form-check-label
                                            input#inlineCheckbox3.form-check-input.form-check-input-js(type='checkbox' value='Firefox' name='browser' required)
                                            |  Firefox
                                    .form-check
                                        label.form-check-label
                                            input#inlineCheckbox4.form-check-input.form-check-input-js(type='checkbox' value='Chrome' name='browser' required)
                                            |  Chrome
                                    .form-check
                                        label.form-check-label
                                            input#inlineCheckbox5.form-check-input.check-alldisabled(type='checkbox' value='weissnicht' name='browser' required)
                                            |  Ich weiss es nicht
                                .form-check.form-check-inline
                                    label.form-check-label
                                        .invalid-feedback
                                            | Pflichtfeld
                        else
                            .col-md-6.form-check-wrapper
                                .form-check
                                    label.form-check-label
                                        input#inlineCheckbox1.form-check-input.form-check-input-js(type='checkbox' value='Microsoft Edge' name='browser' required)
                                        |  Microsoft Edge
                                .form-check
                                    label.form-check-label
                                        input#inlineCheckbox2.form-check-input.form-check-input-js(type='checkbox' value='Safari' name='browser' required )
                                        |  Safari (Apple)
                            .col-md-6
                                .form-check
                                    label.form-check-label
                                        input#inlineCheckbox3.form-check-input.form-check-input-js(type='checkbox' value='Firefox' name='browser' required)
                                        |  Firefox
                                .form-check
                                    label.form-check-label
                                        input#inlineCheckbox4.form-check-input.form-check-input-js(type='checkbox' value='Chrome' name='browser' required)
                                        |  Chrome
                                .form-check
                                    label.form-check-label
                                        input#inlineCheckbox5.form-check-input.check-alldisabled(type='checkbox' value='weissnicht' name='browser' required)
                                        |  Ich weiss es nicht
                            .form-check.form-check-inline
                                label.form-check-label
                                    .invalid-feedback
                                        | Pflichtfeld
                    .col-md-6.fields
                        br
                        label(for='form-browser')
                            | Wie soll die Software zur Verf&uuml;gung gestellt
                            | werden*?
                        if (typeof (softwareListDetails) !== 'undefined')
                            for order in softwareListDetails
                                select.form-select.form-control(required='' name='softwareverfuegung' filled=order.softwareverfuegung)
                                    option(selected='' disabled='' value='') Auswahl
                                    option(value="Softwarecenter/Softwarekiosk") Softwarecenter/Softwarekiosk
                                    option(value="Softwaredownloadseite") Softwaredownloadseite
                                    option(value="Ich weiss es nicht") Ich weiss es nicht
                                .invalid-feedback
                                    | Pflichtfeld
                        else
                            select.form-select.form-control(required='' name='softwareverfuegung')
                                option(selected='' disabled='' value='') Auswahl
                                option(value="Softwarecenter/Softwarekiosk") Softwarecenter/Softwarekiosk
                                option(value="Softwaredownloadseite") Softwaredownloadseite
                                option(value="Ich weiss es nicht") Ich weiss es nicht
                            .invalid-feedback
                                | Pflichtfeld
                br
                .form-group
                    label
                        | W&auml;re die Software auch f&uuml;r ein anderes Institut der
                        | PH
                        | interessant*? Wenn ja, warum und welche:
                    if (typeof (softwareListDetails) !== 'undefined')
                        for order in softwareListDetails
                            if (order.softwareinteresse == "Nein")
                                div.custom-radio-wrapper(filled=order.softwareinteresse)
                                    .custom-control.custom-radio
                                        input#customRadioDisabled3.custom-control-input(type='radio' value="Nein" required='' name='softwareinteresse' checked)
                                        label.custom-control-label.custom-control-label-js(for='customRadioDisabled3' answer='no') Nein
                                    .custom-control.custom-radio
                                        input#customRadioDisabled4.custom-control-input(type='radio' value="Ja" required='' name='softwareinteresse')
                                        label.custom-control-label.custom-control-label-js(for='customRadioDisabled4' answer='open') Ja
                                        .invalid-feedback
                                            | Pflichtfeld
                                    .collapse.inputHide
                                        .card.card-body
                                            input#form-hs.form-control(type='text' name='softwareinstitut' value=order.softwareinstitut)
                            else if (order.softwareinteresse == "Ja")
                                div.custom-radio-wrapper(filled=order.softwareinteresse)
                                    .custom-control.custom-radio
                                        input#customRadioDisabled3.custom-control-input(type='radio' value="Nein" required='' name='softwareinteresse')
                                        label.custom-control-label.custom-control-label-js(for='customRadioDisabled3' answer='no') Nein
                                    .custom-control.custom-radio
                                        input#customRadioDisabled4.custom-control-input(type='radio' value="Ja" required='' name='softwareinteresse' checked)
                                        label.custom-control-label.custom-control-label-js(for='customRadioDisabled4' answer='open') Ja
                                        .invalid-feedback
                                            | Pflichtfeld
                                    .card.card-body
                                        input#form-hs.form-control(type='text' name='softwareinstitut' value=order.softwareinstitut required='')
                            else
                                .custom-control.custom-radio
                                    input#customRadioDisabled3.custom-control-input(type='radio' value="Nein" required='' name='softwareinteresse')
                                    label.custom-control-label.custom-control-label-js(for='customRadioDisabled3' answer='no') Nein
                                .custom-control.custom-radio
                                    input#customRadioDisabled4.custom-control-input(type='radio' value="Ja" required='' name='softwareinteresse')
                                    label.custom-control-label.custom-control-label-js(for='customRadioDisabled4' answer='open') Ja
                                    .invalid-feedback
                                        | Pflichtfeld
                                .collapse.inputHide
                                    .card.card-body
                                        input#form-hs.form-control(type='text' name='softwareinstitut')

                    else
                        .custom-control.custom-radio
                            input#customRadioDisabled3.custom-control-input(type='radio' value="Nein" required='' name='softwareinteresse')
                            label.custom-control-label.custom-control-label-js(for='customRadioDisabled3' answer='no') Nein
                        .custom-control.custom-radio
                            input#customRadioDisabled4.custom-control-input(type='radio' value="Ja" required='' name='softwareinteresse')
                            label.custom-control-label.custom-control-label-js(for='customRadioDisabled4' answer='open') Ja
                            .invalid-feedback
                                | Pflichtfeld
                        .collapse.inputHide
                            .card.card-body
                                input#form-hs.form-control(type='text' name='softwareinstitut')
                br
                .form-group
                    label(for='form-inst')
                        | W&auml;re die Software auch f&uuml;r andere Hochschulen
                        | interessant*? Wenn
                        | ja, warum und welche:
                    if (typeof (softwareListDetails) !== 'undefined')
                        for order in softwareListDetails
                            if (order.softwarehochschinteresse == "Nein")
                                div.custom-radio-wrapper(filled=order.softwarehochschinteresse)
                                    .custom-control.custom-radio
                                        input#customRadioDisabled5.custom-control-input(type='radio' value="Nein" required='' name='softwarehochschinteresse' checked)
                                        label.custom-control-label.custom-control-label-js2(for='customRadioDisabled5' answer='no') Nein
                                    .custom-control.custom-radio
                                        input#customRadioDisabled6.custom-control-input.custom-control-label-js(type='radio' value="Ja" required='' name='softwarehochschinteresse')
                                        label.custom-control-label.custom-control-label-js2(for='customRadioDisabled6' answer='open') Ja
                                        .invalid-feedback
                                            | Pflichtfeld
                                    .collapse.inputHide2
                                        .card.card-body
                                            input#form-hs.form-control(type='text' name='softwarehochschule' value=order.softwarehochschule)
                            else if (order.softwarehochschinteresse == "Ja")
                                div.custom-radio-wrapper(filled=order.softwarehochschinteresse)
                                    .custom-control.custom-radio
                                        input#customRadioDisabled5.custom-control-input(type='radio' value="Nein" required='' name='softwarehochschinteresse')
                                        label.custom-control-label.custom-control-label-js2(for='customRadioDisabled5' answer='no') Nein
                                    .custom-control.custom-radio
                                        input#customRadioDisabled6.custom-control-input.custom-control-label-js(type='radio' value="Ja" required='' name='softwarehochschinteresse' checked)
                                        label.custom-control-label.custom-control-label-js2(for='customRadioDisabled6' answer='open') Ja
                                        .invalid-feedback
                                            | Pflichtfeld
                                    .card.card-body
                                        input#form-hs.form-control(type='text' name='softwarehochschule' value=order.softwarehochschule required='')

                            else
                                .custom-control.custom-radio
                                    input#customRadioDisabled5.custom-control-input(type='radio' value="Nein" required='' name='softwarehochschinteresse')
                                    label.custom-control-label.custom-control-label-js2(for='customRadioDisabled5' answer='no') Nein
                                .custom-control.custom-radio
                                    input#customRadioDisabled6.custom-control-input.custom-control-label-js(type='radio' value="Ja" required='' name='softwarehochschinteresse')
                                    label.custom-control-label.custom-control-label-js2(for='customRadioDisabled6' answer='open') Ja
                                    .invalid-feedback
                                        | Pflichtfeld
                                .collapse.inputHide2
                                    .card.card-body
                                        input#form-hs.form-control(type='text' name='softwarehochschule')

                    else
                        .custom-control.custom-radio
                            input#customRadioDisabled5.custom-control-input(type='radio' value="Nein" required='' name='softwarehochschinteresse')
                            label.custom-control-label.custom-control-label-js2(for='customRadioDisabled5' answer='no') Nein
                        .custom-control.custom-radio
                            input#customRadioDisabled6.custom-control-input.custom-control-label-js(type='radio' value="Ja" required='' name='softwarehochschinteresse')
                            label.custom-control-label.custom-control-label-js2(for='customRadioDisabled6' answer='open') Ja
                            .invalid-feedback
                                | Pflichtfeld
                        .collapse.inputHide2
                            .card.card-body
                                input#form-hs.form-control(type='text' name='softwarehochschule')
                br

    .accordion-item
        h2#headingFour.accordion-header
            button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#collapseFour' aria-expanded='false' aria-controls='collapseFour')
                h3 Lizenzierung
        #collapseFour.accordion-collapse.collapse(aria-labelledby='headingFour' data-bs-parent='#accordionForm')
            .accordion-body
                .row
                    .col-md-6.fields
                        label(for='form-bs')
                            | F&uuml;r welche Institution*
                        if (typeof (softwareListDetails) !== 'undefined')
                            for order in softwareListDetails
                                select.form-select.form-control(required='' name='lizenzinstitution' filled=order.lizenzinstitution)
                                    option(selected='' disabled='' value='') Auswahl
                                    option(value='Pädagogische Hochschule') P&auml;dagogische Hochschule
                                    option(value='FHNW') FHNW
                                .invalid-feedback
                                    | Pflichtfeld
                        else
                            select.form-select.form-control(required='' name='lizenzinstitution')
                                option(selected='' disabled='' value='') Auswahl
                                option(value='Pädagogische Hochschule') P&auml;dagogische Hochschule
                                option(value='FHNW') FHNW
                            .invalid-feedback
                                | Pflichtfeld
                    .col-md-6.fields
                        label(for='form-type')
                            | Art der Lizenz*
                        if (typeof (softwareListDetails) !== 'undefined')
                            for order in softwareListDetails
                                select.form-select.form-control(required='' name='lizenzart' filled=order.lizenzart)
                                    option(selected='' disabled='' value='') Auswahl
                                    option(value='Cloude/Abo')  Cloude/Abo
                                    option(value='Cloude/Abo & Support/Storage')  Cloude/Abo & Support/Storage
                                    option(value='Einmalkauf')  Einmalkauf
                                    option(value='Einmalkauf & Support')  Einmalkauf & Support
                                    option(value='andere')  andere
                                .invalid-feedback
                                    | Pflichtfeld
                        else
                            select.form-select.form-control(required='' name='lizenzart')
                                option(selected='' disabled='' value='') Auswahl
                                option(value='Cloude/Abo')  Cloude/Abo
                                option(value='Cloude/Abo & Support/Storage')  Cloude/Abo & Support/Storage
                                option(value='Einmalkauf')  Einmalkauf
                                option(value='Einmalkauf & Support')  Einmalkauf & Support
                                option(value='andere')  andere
                            .invalid-feedback
                                | Pflichtfeld
    .accordion-item
        h2#headingFive.accordion-header
            button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#collapseFive' aria-expanded='false' aria-controls='collapseFour')
                h3 Kosten
        #collapseFive.accordion-collapse.collapse(aria-labelledby='headingFive' data-bs-parent='#accordionForm')
            .accordion-body
                .row
                    .col-md-6.fields
                        label(for='form-type')
                            | Kosten Lizenzmodell*
                        if (typeof (softwareListDetails) !== 'undefined')
                            for order in softwareListDetails
                                select.form-select.form-control(required='' name='lizenzkosten' filled=order.lizenzkosten)
                                    option(selected='' disabled='' value='') Auswahl
                                    option(value='Freeware') Freeware
                                    option(value='Jährlich') Jährlich
                                    option(value='Einmalig') Einmalig
                                    option(value='Einmalig/Abo') Einmalig/Abo
                                    option(value='Person- o. Arbeitsplatzgebunden') Person- o. Arbeitsplatzgebunden
                                .invalid-feedback
                                    | Pflichtfeld
                        else
                            select.form-select.form-control(required='' name='lizenzkosten')
                                option(selected='' disabled='' value='') Auswahl
                                option(value='Freeware') Freeware
                                option(value='Jährlich') Jährlich
                                option(value='Einmalig') Einmalig
                                option(value='Einmalig/Abo') Einmalig/Abo
                                option(value='Person- o. Arbeitsplatzgebunden') Person- o. Arbeitsplatzgebunden
                            .invalid-feedback
                                | Pflichtfeld
    .accordion-item
        h2#headingSix.accordion-header
            button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#collapseSix' aria-expanded='false' aria-controls='collapseFour')
                h3 Zus&auml;tzliche Angaben
        #collapseSix.accordion-collapse.collapse(aria-labelledby='headingFive' data-bs-parent='#accordionForm')
            .accordion-body
                .row
                    .row
                        .col-md-12.fields
                            label(for='form-softwarewebsite')
                                | Vergleichbarkeit*
                            small
                                | (Welche andere Software
                                | w&auml;re allenfalls auch zweckdienlich resp. mit welcher Software
                                | arbeite ich
                                | bislang prim&auml;r? Welches sind die Vorteile der gew&uuml;nschten
                                | Software?)
                            if (typeof (softwareListDetails) !== 'undefined')
                                for order in softwareListDetails
                                    input#form-softwarecompare.form-control(type='text' required='' name='vergleichbarkeit' value=order.vergleichbarkeit)
                            else
                                input#form-softwarecompare.form-control(type='text' required='' name='vergleichbarkeit')
                            .invalid-feedback
                                | Pflichtfeld
                        .col-md-6.fields
                            br
                            label(for='form-support')
                                | Support durch*
                            if (typeof (softwareListDetails) !== 'undefined')
                                for order in softwareListDetails
                                    select.form-select.form-control(required='' name='support' filled=order.support)
                                        option(selected='' disabled='' value='') Auswahl
                                        option(value='Institut') Institut
                                        option(value='FHNW') FHNW
                                        option(value='Ich weiss es nicht') Ich weiss es nicht
                                    .invalid-feedback
                                        | Pflichtfeld
                            else
                                select.form-select.form-control(required='' name='support')
                                    option(selected='' disabled='' value='') Auswahl
                                    option(value='Institut') Institut
                                    option(value='FHNW') FHNW
                                    option(value='Ich weiss es nicht') Ich weiss es nicht
                                .invalid-feedback
                                    | Pflichtfeld
                        .col-md-12.fields
                            .form-group
                                br
                                label(for='form-safedata')
                                    | Rechtliche Frage: Datenspeicherung in
                                    | einer Cloud?*
                                    | Wenn nein, wo werden Daten gespeichert:
                            if (typeof (softwareListDetails) !== 'undefined')
                                for order in softwareListDetails
                                    if (order.cloud == "Ja")
                                        div.custom-radio-wrapper(filled=order.cloud)
                                            .custom-control.custom-radio
                                                input#customRadioDisabled7.custom-control-input(type='radio' name='cloud' value="Ja" required='' checked)
                                                label.custom-control-label.custom-control-label-js(for='customRadioDisabled7' answer='Ja') Ja
                                            .custom-control.custom-radio
                                                input#customRadioDisabled8.custom-control-input(type='radio' name='cloud' value="Nein" required='')
                                                label.custom-control-label.custom-control-label-js(for='customRadioDisabled8' answer='open') Nein
                                                .invalid-feedback
                                                    | Pflichtfeld
                                            .collapse.inputHide
                                                .card.card-body
                                                    input#form-safety.form-control(type='text' name="cloudwo" placeholder="wo werden Daten gespeichert" value=order.cloudwo)
                                    else if (order.cloud == "Nein")
                                        div.custom-radio-wrapper(filled=order.cloud)
                                            .custom-control.custom-radio
                                                input#customRadioDisabled7.custom-control-input(type='radio' name='cloud' value="Ja" required='' )
                                                label.custom-control-label.custom-control-label-js(for='customRadioDisabled7' answer='Ja') Ja
                                            .custom-control.custom-radio
                                                input#customRadioDisabled8.custom-control-input(type='radio' name='cloud' value="Nein" required='' checked)
                                                label.custom-control-label.custom-control-label-js(for='customRadioDisabled8' answer='open') Nein
                                                .invalid-feedback
                                                    | Pflichtfeld
                                            .card.card-body
                                                input#form-safety.form-control(type='text' name="cloudwo" placeholder="wo werden Daten gespeichert" value=order.cloudwo)
                                    else
                                        .custom-control.custom-radio
                                            input#customRadioDisabled7.custom-control-input(type='radio' name='cloud' value="Ja" required='')
                                            label.custom-control-label.custom-control-label-js(for='customRadioDisabled7' answer='Ja') Ja
                                        .custom-control.custom-radio
                                            input#customRadioDisabled8.custom-control-input(type='radio' name='cloud' value="Nein" required='')
                                            label.custom-control-label.custom-control-label-js(for='customRadioDisabled8' answer='open') Nein
                                            .invalid-feedback
                                                | Pflichtfeld
                                        .collapse.inputHide
                                            .card.card-body
                                                input#form-safety.form-control(type='text' name="cloudwo" placeholder="wo werden Daten gespeichert")


                            else
                                .custom-control.custom-radio
                                    input#customRadioDisabled7.custom-control-input(type='radio' name='cloud' value="Ja" required='')
                                    label.custom-control-label.custom-control-label-js(for='customRadioDisabled7' answer='Ja') Ja
                                .custom-control.custom-radio
                                    input#customRadioDisabled8.custom-control-input(type='radio' name='cloud' value="Nein" required='')
                                    label.custom-control-label.custom-control-label-js(for='customRadioDisabled8' answer='open') Nein
                                    .invalid-feedback
                                        | Pflichtfeld
                                .collapse.inputHide
                                    .card.card-body
                                        input#form-safety.form-control(type='text' name="cloudwo" placeholder="wo werden Daten gespeichert")
                        .col-md-6.fields
                            .form-group
                                br
                                label(for='form-productowner') Product Owner*
                                small
                                    | (Wer ist f&uuml;r die Software verantwortlich? Besteller*in,
                                    | Professur)
                                if (typeof (softwareListDetails) !== 'undefined')
                                    for order in softwareListDetails
                                        input#form-productowner.form-control(type='text' required='' name='productowner' value=order.productowner)
                                else
                                    input#form-productowner.form-control(type='text' required='' name='productowner')
                                .invalid-feedback
                                    | Pflichtfeld
                                if (typeof (softwareListDetails) !== 'undefined')
                                    for order in softwareListDetails
                                        if order.bemerkungen !== 'undefined'
                                            br
                                            label.form-label(for='validationTextarea') Bemerkungen
                                            textarea#validationTextarea.form-control.textarea-js(maxlength='5000' rows='7' name='bemerkungen')
                                                | #{order.bemerkungen}
                                        else
                                            br
                                            label.form-label(for='validationTextarea') Bemerkungen
                                            textarea#validationTextarea.form-control.textarea-js(maxlength='5000' rows='7' name='bemerkungen')
                                else
                                    br
                                    label.form-label(for='validationTextarea') Bemerkungen
                                    textarea#validationTextarea.form-control.textarea-js(maxlength='5000' rows='7' name='bemerkungen')
                                .row
                                    .col-md-6.fields
                                        br
                                        label(for='form-data')
                                            | Datum:
                                        label.form-date
                                            |
                                        input.hidden.form-date-input(name="datumantrag")
                                            |

                    // Modal
                    #countModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='ModalCenterTitle' aria-hidden='true')
                        .modal-dialog.modal-dialog-centered(role='document')
                            .modal-content
                                .modal-header
                                    h5.modal-title Maximale Anzahl
                                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                                        span(aria-hidden='true') &times;
                                .modal-body
                                    | Maximale Anzahl Felder erreicht
                                .modal-footer

script(type='text/javascript' src="./static/js/libs/jquery.js")
script(type='text/javascript' src="./static/js/validator.js")
script(type='text/javascript').
    $(document).ready(function () {
        if (window.location.href.indexOf("form") > -1) {
            $('#buttonsubmitformdraft').click(function (event) {
                event.stopPropagation();
                $('#formOrder').removeClass('needs-validation');
                $('#form-status-input').attr('value', '10');
            });

        } else if (window.location.href.indexOf("edit") > -1) {
                $("form").find(".form-select").each(function () {
                        let attrselectedform = $(this).attr('filled');
                $(this).find("option[value='" + attrselectedform + "']").prop('selected', true);
                });
                $(".form-check-wrapper").each(function () {
                        let attrselectedform = $(this).attr('filled');
                        let nameArr = attrselectedform.split(',');
                        for (let i = 0; i < nameArr.length; i++) {
                                $('input:checkbox[value="' + nameArr[i] + '"]').attr('checked', true);
                }
                });
            $('#buttonsubmitformdraft').click(function (event) {
                event.stopPropagation();
                $('#form-status-input').attr('value', '1');
            });
            $('#buttonsubmitsavechanges').click(function () {
                $('#form-status-input').attr('value', '0');
            });
            //only edit and form functions
            //         var maxChar = parseInt($('.textarea-js').attr('maxlength'));
            //         $('.textarea-js[maxlength]').parent().find('.charleft').html(maxChar - $(this).val().length);
            //         var char = $('.textarea-js').val().length;
            //         $('.textarea-js').parent().find('.charleft').html(maxChar - char);
            //         $('.textarea-js[maxlength]').keyup(function(){
            //             if($(this).val().length > maxChar){
            //                 $(this).val($(this).val().substr(0, maxChar));
            //             }
            //             $(this).parent().find('.charleft').html(maxChar - $(this).val().length);
            //         });
        }
        $('.link-edit-back').click(function () {
            const urlParams = new URLSearchParams(window.location.search);
            const currenturlParam = urlParams.get('tsid');
            window.location.replace("/details?tsid=" + currenturlParam);
        })
        $(".custom-control-select").on('change', function (e) {
            var valueSelected = $('option:selected', this).attr('answer');
            if (valueSelected == "open") {
                $(this).nextAll(".inputHide").delay(300).slideDown("slow");
            } else {
                $(this).nextAll(".inputHide").delay(300).slideUp("slow");
            }
        });
        $(".custom-control-label").click(function () {
            if ($(this).attr('answer') == "open") {
                $(this).closest(".custom-control").nextAll(".inputHide").delay(300).slideDown("slow");
            } else {
                $(this).closest(".custom-control").nextAll(".inputHide").delay(300).slideUp("slow");
            }
        });
        $(".custom-control-label-js").click(function () {
            if ($(this).attr('answer') == "open") {
                $(this).closest(".custom-control").nextAll(".inputHide").delay(300).slideDown("slow");
            } else {
                $(this).closest(".custom-control").nextAll(".inputHide").delay(300).slideUp("slow");
            }
        });
        $(".custom-control-label-js2").click(function () {
            if ($(this).attr('answer') == "open") {
                $(this).closest(".custom-control").nextAll(".inputHide2").delay(300).slideDown("slow");
            } else {
                $(this).closest(".custom-control").nextAll(".inputHide2").delay(300).slideUp("slow");
            }
        });
        let d = new Date();
        let month = d.getMonth() + 1;
        let day = d.getDate();
        let hour = d.getHours();
        let minute = d.getMinutes();
        let datetime =
            (('' + day).length < 2 ? '0' : '') + day + '.' +
            (('' + month).length < 2 ? '0' : '') + month + '.' +
            d.getFullYear() + ' ' +
            (('' + hour).length < 2 ? '0' : '') + hour + ':' +
            (('' + minute).length < 2 ? '0' : '') + minute;
        $('.form-date').text(datetime);
        $('.form-date-input').attr('value', datetime);
        let formsubmit = false;
        if ($("[name='browser']:checked").length !== 0) {
            $("[name='browser']").attr('required', false);
        }
        $(function () {
            let requiredCheckboxes = $('input:checkbox[required]');
            requiredCheckboxes.change(function () {
                if (requiredCheckboxes.is(':checked')) {
                    requiredCheckboxes.removeAttr('required');
                } else {
                    requiredCheckboxes.attr('required', 'required');
                }
            });
        });
        $("#accordionForm .accordion-item").find("input, select, textarea").focus(function () {
            let current = $(this).closest(".accordion-collapse").prev();
            current.removeClass('required-header');
        });
        $(".submitformbtnaction").find("input, select, textarea").focus(function () {
            let current = $(this).closest(".accordion-collapse").prev();
            current.removeClass('required-header');
        });
        $(".submitformbtnaction").on("click", function (event) {
            event.stopPropagation();
            $("#headingThree").removeClass('required-header');
            $("#accordionForm").find(".accordion-item").each(function () {
                $(this).find("input, textarea, select").filter('[required]').each(function () {
                    if (($(this).val() == " ") || ($(this).val() == null) || ($.trim($(this).val()).length == 0)) {
                        let current = $(this).closest(".accordion-collapse").prev().eq(0);
                        current.addClass('required-header');
                        return false;
                    }
                    if (($("input[name='softwareupdate']:checked").length !== 0)) {
                        $('#headingThree').removeClass('required-header');
                    }
                    if (($("input[name='browser']:checked").length == 0)) {
                        $("input[name='browser']").closest(".accordion-collapse").prev().addClass('required-header');
                    } else if (($("input[name='softwareupdate']:checked").length == 0)) {
                        $("input[name='softwareupdate']").closest(".accordion-collapse").prev().addClass('required-header');
                        $('#headingThree').removeClass('required-header');
                    } else if (($("input[name='softwareinstitut']:checked").length == 0)) {
                        $("input[name='softwareinstitut']").closest(".accordion-collapse").prev().addClass('required-header');
                        $('#headingThree').removeClass('required-header');
                    } else if (($("input[name='softwarehochschinteresse']:checked").length == 0)) {
                        $("input[name='softwarehochschinteresse']").closest(".accordion-collapse").prev().addClass('required-header');
                        $('#headingThree').removeClass('required-header');
                    } else if (($("input[name='cloud']:checked").length == 0)) {
                        $("input[name='cloud']").closest(".accordion-collapse").prev().addClass('required-header');
                        $('#headingThree').removeClass('required-header');
                    } else {
                        let current = $(this).closest(".accordion-collapse").prev().eq(0);
                        current.removeClass('required-header');
                        return true;
                    }
                });
            });
            formsubmit = true;
            if (formsubmit == true) {
                (function () {
                    'use strict'
                    // Fetch all the forms we want to apply custom Bootstrap validation styles to
                    var forms = document.querySelectorAll('.needs-validation')
                    // Loop over them and prevent submission
                    Array.prototype.slice.call(forms)
                        .forEach(function (form) {
                            form.addEventListener('submit', function (event) {
                                if (!form.checkValidity()) {
                                    event.preventDefault()
                                    event.stopPropagation()
                                }
                                form.classList.add('was-validated')
                            }, false)
                        })
                })()
                formsubmit = false;
            }
        })

        $('.accordion-collapse').on('shown.bs.collapse', function (e) {
            var $panel = $(this).closest('.accordion-item');
            $('html,body').animate({
                scrollTop: $panel.offset().top - 120
            }, 200);
        });

    });