script(type="text/javascript")
script(type='text/javascript' src="./static/src/printpdf.js")
link(rel="stylesheet" href="./static/style/custom.css")
div(id='wrapper-screen-pdf')
    img(class='FHNWLogo' src='static/style/FHNW_PH.svg')
    #content.details
        .container
            .row
                .col-md-12
                    br
                    br
                    for order in softwareListDetails
                        h2(id='tables') Softwareantrag #!{order.orderid} !{order.softwarename}
                        for order in softwareListDetails
                            if(order.status == 10)
                                span.span-draft Entwurf
                    .form-group-view-wrapper#AntragDetailsWrapper
                    div(style="page-break-after: always; height:50vh;" )
                        .form-group
                            .row
                                .col-md-12
                                if (admin == true)
                                    for order in softwareListDetails
                                        if (order.notizen !== 'undefined') && ((order.notizen).length)
                                            label(for='form-function')(style="font-weight: 700;")
                                                | Notizen zum Antrag (vertraulich)
                                            p= order.notizen
                                    h3.alert.alert-primary Angaben zur Person
                                for order in softwareListDetails
                                    label(style="font-weight: 700;")
                                        | Institut
                                    p(name='institut')= order.institut
                                    label(style="font-weight: 700;")
                                        | Professur/Zentrum/Ressort
                                    p(name='professur')= order.professur
                                    label(style="font-weight: 700;")
                                        | Beantragter*in
                                    span
                                        if (order.anrede !== 'Neutrale Anrede')
                                            | !{order.anrede} !{order.vorname} !{order.nachname}
                                        else
                                            | !{order.vorname} !{order.nachname}
                                    p
                                    br
                                    label(style="font-weight: 700;")
                                        | E-Mail-Adresse
                                    p= order.email
                                    label(style="font-weight: 700;")(for='form-function')
                                        | Funktion
                                for order in softwareListDetails
                                    p= order.funktion
                                    label(style="font-weight: 700;")(for='form-function')
                                        | Studiengang
                                    p= order.studiengang
                                    label(style="font-weight: 700;")(for='form-function')
                                        | Modulanlass
                                    p= order.modulanlass
                                .col-md-12
                                for order in softwareListDetails
                                    h3.alert.alert-primary Angaben zur Software
                                    label(style="font-weight: 700;")
                                        | Anwendungs-/Lehr-/Lernszenario
                                    p= order.szenario
                                    label(style="font-weight: 700;")
                                        | Name der Software
                                    p= order.softwarename
                                    label(style="font-weight: 700;")
                                        | Webseite der Software
                                    p= order.softwarewebseite
                                    label(style="font-weight: 700;")
                                        | Version der Software
                                    p= order.softwareversion
                    img(class='FHNWLogo' src='static/style/FHNW_PH.svg')
                    div(style="page-break-after: always; height:50vh; position: relative; top:20px;" )
                                for order in softwareListDetails
                                    label(style="font-weight: 700;")
                                        | Handelt es sich um ein Update/Änderung eines bestehenden Paketes. Wenn ja, welches?
                                    p= order.softwareupdate
                                    if order.softwareupdate === 'Ja'
                                        p= order.softwareupdatewelches
                                    label(style="font-weight: 700;")
                                        | Anzahl Lizenzen
                                    p= order.lizenzenanzahl
                                    label(style="font-weight: 700;")
                                        | Anzahl geplante Nutzer*innen
                                    p= order.nutzeranzahl
                                for order in softwareListDetails
                                    label(style="font-weight: 700;")(for='form-function')
                                        | Nutzungsdauer
                                    p= order.nutzungsdauer
                                    if order.nutzungsdauertext
                                        label(style="font-weight: 700;")(for='form-function')
                                            | Nutzungsdauertext
                                        p= order.nutzungsdauertext
                                        h3.alert.alert-primary Angaben zur Nutzung
                                        label(style="font-weight: 700;")
                                            | Einsatz auf folgendem Betriebssystem
                                        p= order.betriebssystem
                                        label(style="font-weight: 700;")
                                            | Verwendung mit folgendem Browser
                                        p= order.browser
                                        label(style="font-weight: 700;")
                                            | Wie soll die Software zur Verfügung gestellt werden?
                                        p= order.softwareverfuegung
                                        label(style="font-weight: 700;")
                                            | W&auml;re die Software auch f&uuml;r ein anderes Institut der PH interessant?
                                        p= order.softwareinteresse
                                        if order.softwareinteresse === 'Ja'
                                            p= order.softwareinstitut
                                        label(style="font-weight: 700;")
                                            | W&auml;re die Software auch f&uuml;r andere Hochschulen interessant?
                                        p= order.softwarehochschinteresse
                                        if order.softwarehochschinteresse === 'Ja'
                                            p= order.softwarehochschule
                                    .col-md-12
                                    for order in softwareListDetails
                                        h3.alert.alert-primary Lizenzierung
                                        label(style="font-weight: 700;")
                                            | F&uuml;r welche Institution
                                        p= order.lizenzinstitution
                                        label(style="font-weight: 700;")
                                            | Art
                                        p= order.lizenzart
                                        h3.alert.alert-primary Kosten
                                        label(style="font-weight: 700;")
                                            | Kosten Lizenzmodell
                                        p= order.lizenzkosten
                                        h3.alert.alert-primary Zus&auml;tzliche Angaben
                                        label(style="font-weight: 700;")
                                            | Vergleichbarkeit
                                        p= order.vergleichbarkeit
                                        label(style="font-weight: 700;")
                                            | Support durch
                                        p= order.support
                                        label(style="font-weight: 700;")
                                            | Rechtliche Frage: Datenspeicherung in einer Cloud?
                                        p= order.cloud
                                        for order in softwareListDetails
                                            if order.cloud === 'Nein'
                                                p= order.cloudwo
                                        label(style="font-weight: 700;")(for='form-function')
                                            | Product Owner
                                        p= order.productowner
                                        for order in softwareListDetails
                                            if order.bemerkungen !== 'undefined' && ((order.bemerkungen).length)
                                                label(style="font-weight: 700;")(for='form-function')
                                                    | Bemerkungen
                                                p= order.bemerkungen
                                        label(style="font-weight: 700;")(for='form-function')
                                            | Datum
                                        p= order.datumantrag
    span(class='pdfSep')

