.row
    .col-md-12
        table.table.table-striped.table-works(data-toggle="table" data-pagination="true"
            data-search="true" data-sort="true")
            thead
                tr(role='row')
                    th(role='columnheader') Ticketnr.
                    th.minwidth(role='columnheader') Produkt
                    th(role='columnheader') Bezeichnung
                    th(role='columnheader') Beantragt am
                    th(role='columnheader') Ersteller*innen
                    th(role='columnheader') Institut
                    th(role='columnheader') Status
            tbody
            if (typeof (softwareList) !== 'undefined')
                for order in softwareList
                        tr
                            order.orderid
                        td
                            a#link(href="/details?tsid="+ order.orderid class="link-id")= order.orderid
                        td= order.softwarename
                        td= order.datumantrag
                        td
                            span= order.vorname
                            span &nbsp;
                            span= order.nachname
                        td= order.institut
                        td= order.status

script(type='text/javascript' src="./static/js/libs/jquery.js")
script(type='text/javascript' src="./static/js/libs/bootstrap.bundle.min.js" crossorigin="anonymous")
script(type='text/javascript' src="./static/js/custom.js")
script(type='text/javascript' src="./static/js/libs/bootstrap-table.js")
script(type="text/javascript" src="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.js")
script(type='text/javascript' src="./static/js/libs/bootstrap-extension.js")


