.row
    .col-md-12
        table.table.table-striped.table-works
            thead
                tr(role='row')
                    th(role='columnheader') Ticketnr.
                    th.minwidth(role='columnheader') Produkt
                    th(role='columnheader') Bezeichnung
                    th(role='columnheader') Beantragt am
                    th(role='columnheader') Ersteller*innen
                    th(role='columnheader') Institut
                    th(role='columnheader') Status
            tbody
                for order in softwareList
                        tr
                        td
                            a#link(href="/details?tsid="+ order.orderid class="link-id")= order.orderid
                        td= order.softwarename
                        td= order.softwarename
                        td= order.datum
                        td
                            span= order.vorname
                            span &nbsp;
                            span= order.nachname
                        td= order.institut
                        td= order.status
script(type='text/javascript' src="./static/js/libs/jquery.js")
script(type='text/javascript' src="./static/js/libs/datepicker.js")
script(type='text/javascript' src="./static/js/libs/datepicker-de.js")
script(type='text/javascript' src="./static/js/libs/bootstrap.bundle.min.js" crossorigin="anonymous")
    script(type='text/javascript' src="./static/js/libs/tether.js")
        script(type='text/javascript' src="./static/js/libs/bootstrap.js")
            script(type='text/javascript' src="./static/js/libs/tether.js")
//script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js')
//script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/locales/bootstrap-datepicker.de.min.js')
//script(type='text/javascript' src="https://webteam.pages.fhnw.ch/bootstrap-styleguide/assets/js/vendor/tether.min.js")
//
//script(type='text/javascript' src="https://webteam.pages.fhnw.ch/bootstrap-styleguide/dist/js/bootstrap.js")
//script(type='text/javascript' src="https://webteam.pages.fhnw.ch/bootstrap-styleguide/assets/js/vendor/anchor.min.js")
//script(type='text/javascript' src="https://webteam.pages.fhnw.ch/bootstrap-styleguide/assets/js/vendor/clipboard.min.js")
//script(type='text/javascript' src="https://webteam.pages.fhnw.ch/bootstrap-styleguide/assets/js/vendor/holder.min.js")
//script(type='text/javascript' src="https://webteam.pages.fhnw.ch/bootstrap-styleguide/assets/js/src/application.js")
//script(type='text/javascript' src="https://webteam.pages.fhnw.ch/bootstrap-styleguide/assets/js/ie10-viewport-bug-workaround.js")
//script(type='text/javascript' src="https://webteam.pages.fhnw.ch/bootstrap-styleguide/assets/js/ie-emulation-modes-warning.js")
//
//script(type='text/javascript' src="https://cdn.jsdelivr.net/gh/Wruczek/Bootstrap-Cookie-Alert@gh-pages/cookiealert.js")

//script(src="https://res.cloudinary.com/dxfq3iotg/raw/upload/v1569818907/jquery.table2excel.min.js")

script(type='text/javascript' src="./static/js/libs/cookiealert.js")
script(type='text/javascript' src="./static/js/libs/datatables.js")
script(type='text/javascript' src="./static/js/all.js")
script(type='text/javascript' src="./static/js/main.js")
script(type='text/javascript' src="./static/js/custom.js")
    script(type='text/javascript' src="./static/js/libs/datepicker.js")
        script(type='text/javascript' src="./static/js/libs/datepicker.js")
            script(type='text/javascript' src="./static/js/validator.js")
script(type='text/javascript').
    $(document).ready(function () {
        $(".table-works").DataTable({
            // "ajax": {
            //     "url": "/user",
            //     "dataSrc": test
            // },
        });
        });

