script(type="text/javascript")
div(id='wrapper-screen')
div(id='mobile-swipe')
        div(class='swipe')
                i(class='fa fa-long-arrow-left')
                i(class='fa fa-hand-o-up')
                i(class='fa fa-long-arrow-right')
div(id='nav-wrapper')
        nav()
                div(class='storyNameWrapper')
                span(class='prevnodeLine')
                div(class='storynode1 nodeWrapper')
                div(class='storynodesprev')
                div(class='storynode2 nodeWrapper')
                div(class='storynodesnext')
                div(class='storynode3 nodeWrapper')
                span(class='nextnodeLine')
                div(class='storynode4 nodeWrapper')
                div(class='Slider5Wrapper')
                                div(class='storynode5Wrapper nodeWrapper')
                div(id='headerBar')
                        div(class='navbar-brand')
                                img(class='storyLogo' src='static/style/logoStory.png')
                        span(class='titleToolsWrapper')
                                span(class='titleTools active' id="contentSwitchMain")
                                        i(class='fa fa-image active')
                                span(class='titleTools')
                                        i(class='fa fa-file-text')
                                span(class='titleTools')
                                        i(class='fa fa-info-circle')
        div(id='mainCanvas')
                svg(
                id="logoIE"
                class="ieWarning"
                width="210px"
                height="105px"
                )
                        text(
                        id="logoText"
                        x="105"
                        y="45"
                        ) ALTERS
                        text(
                        id="logoText"
                        x="105"
                        y="100"
                        ) ATLAS

script(type="text/javascript").
        mainStart(!{JSON.stringify(page.query)});

