doctype html
html(lang="en")
    head

    body

      h1=page.title
        
        
      div(style='font-size:22px; color:red;')
        b XLS - DUPLICATES
      each data in page.values.xlserrors
        div=JSON.stringify(data)
        
      div(style='font-size:22px; color:red;')
        b Database - DUPLICATES
      each data in page.values.dberrors
        div=data.id+" - "+data.title
        
      div(style="padding:30px; font-weight:bold;") extrahiert vom XLS:
        
        
      div(style='font-size:22px;')
        b nodes
      each data in page.values.nodes
        div=data.id+" - "+data.title
        
      div(style='font-size:22px;')
        b projects
      each data in page.values.projects
        div=data.title
        
      div(style='font-size:22px;')
        b institutes
      each data in page.values.institutes
        div=data.name

        
      div(style='font-size:22px;')
        b contact
      each data in page.values.contact
        div=data.name
        
      div(style='font-size:22px;')
        b datasources
      each data in page.values.datasources
        div=data.source
        
      div(style='font-size:22px;')
        b tags
      each data in page.values.tags
        div=data.value
